In [127]:
# Import library
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [129]:
# Load in data
df = pd.read_csv('../data/cleaned_data/master.csv')
df.head()

,date,nonglu_price,hommali_price,agri_prod_index,crops_prod_index,paddy_prod_index,nonglu_prod_index,hommali_prod_index,agri_price_index,crops_price_index,...,agri_export_value,rice_export_value,ricet_export_amoun,cpi,cpi_rice,pol_rate,neer,reer,sirikit_water,bhumibol_water
0,2005-01-01 00:00:00,6423.0,7604.0,115.097008,124.176382,43.455904,72.441718,8.054434,93.173402,93.569101,...,607.44,218.28,734528.70,73.6,-0.3,2.00,89.81,85.66,178.0,45.0
1,2005-02-01 00:00:00,6568.0,7736.0,111.378971,119.210610,40.277637,75.053527,0.000000,95.454421,94.170403,...,559.87,183.68,615574.29,74.0,-0.2,2.00,90.58,86.68,131.0,32.0
2,2005-03-01 00:00:00,6568.0,7816.0,79.885973,73.216190,72.039414,134.238562,0.000000,97.325242,95.450507,...,613.75,190.62,609936.02,74.8,0.2,2.25,90.02,86.70,115.0,46.0
3,2005-04-01 00:00:00,6556.0,7913.0,73.401982,66.812827,45.273448,84.362743,0.000000,95.957069,93.257760,...,518.98,163.53,532848.53,75.3,0.2,2.25,88.61,85.58,115.0,77.0
4,2005-05-01 00:00:00,6471.0,7769.0,73.772617,65.417215,30.715298,57.235023,0.000000,96.368373,94.583290,...,622.21,231.30,1092091.31,75.8,-0.2,2.25,88.07,85.40,110.0,69.0

In [131]:
# Convert 'date' column from string to datetime type
df['date'] = pd.to_datetime(df['date'])

# Set date column as the DataFrame index
df.set_index('date', inplace=True)

# Sort index according to the date
df.sort_index(inplace=True)

# Display first few rows to verify the reindexing
df.head(20)

,nonglu_price,hommali_price,agri_prod_index,crops_prod_index,paddy_prod_index,nonglu_prod_index,hommali_prod_index,agri_price_index,crops_price_index,paddy_price_index,...,agri_export_value,rice_export_value,ricet_export_amoun,cpi,cpi_rice,pol_rate,neer,reer,sirikit_water,bhumibol_water
date,,,,,,,,,,,,,,,,,,,,,
2005-01-01,6423.0,7604.0,115.097008,124.176382,43.455904,72.441718,8.054434,93.173402,93.569101,97.732988,...,607.44,218.28,734528.70,73.6,-0.3,2.00,89.81,85.66,178.0,45.0
2005-02-01,6568.0,7736.0,111.378971,119.210610,40.277637,75.053527,0.000000,95.454421,94.170403,99.382526,...,559.87,183.68,615574.29,74.0,-0.2,2.00,90.58,86.68,131.0,32.0
2005-03-01,6568.0,7816.0,79.885973,73.216190,72.039414,134.238562,0.000000,97.325242,95.450507,99.992138,...,613.75,190.62,609936.02,74.8,0.2,2.25,90.02,86.70,115.0,46.0
2005-04-01,6556.0,7913.0,73.401982,66.812827,45.273448,84.362743,0.000000,95.957069,93.257760,100.482538,...,518.98,163.53,532848.53,75.3,0.2,2.25,88.61,85.58,115.0,77.0
2005-05-01,6471.0,7769.0,73.772617,65.417215,30.715298,57.235023,0.000000,96.368373,94.583290,99.124867,...,622.21,231.30,1092091.31,75.8,-0.2,2.25,88.07,85.40,110.0,69.0
2005-06-01,6614.0,7630.0,69.669986,56.180483,37.636312,70.131670,0.000000,98.410339,98.561536,99.736672,...,533.49,197.56,632758.44,76.0,0.0,2.50,86.76,84.41,451.0,240.0
2005-07-01,6718.0,7486.0,82.367897,75.889285,30.448539,56.737942,0.000000,100.944755,101.866818,100.079309,...,585.03,150.37,466603.90,77.2,0.2,2.75,85.84,84.84,686.0,467.0
2005-08-01,6754.0,7618.0,87.518216,82.450944,44.920936,83.705870,0.000000,101.468031,100.857904,101.236264,...,704.58,195.49,644151.62,77.7,-0.1,2.75,86.22,85.68,1773.0,953.0
2005-09-01,6840.0,7816.0,82.048779,73.085336,43.330573,80.599520,0.000000,104.215445,104.417309,102.341143,...,668.32,204.68,650677.36,78.2,-0.1,3.25,86.71,86.49,1868.0,2659.0
2005-10-01,6900.0,7850.0,80.338785,71.481627,80.382980,120.189624,26.459450,106.620073,108.388960,102.000256,...,630.35,183.67,584685.72,78.5,-0.6,3.75,87.94,87.60,848.0,1232.0
2005-11-01,6692.0,7393.0,192.443572,221.956465,453.989830,226.712115,723.315285,104.685162,106.659623,97.977544,...,719.11,216.47,679995.18,77.9,-0.4,3.75,88.29,87.26,322.0,848.0
2005-12-01,6744.0,7579.0,152.076214,170.122636,277.529128,138.591685,442.170831,105.377686,108.216788,99.913754,...,665.01,193.34,579780.51,77.8,-0.3,4.00,87.97,86.94,206.0,309.0
2006-01-01,6696.0,7628.0,109.703894,114.011647,43.580672,72.649707,8.077559,110.377654,113.821771,100.581118,...,683.00,183.97,583404.07,78.0,0.2,4.25,89.90,88.19,173.0,147.0
2006-02-01,6633.0,7873.0,93.049409,91.755084,46.062229,85.832560,0.000000,111.337228,115.390439,101.563145,...,757.29,196.49,614377.71,78.1,-0.1,4.25,90.67,89.24,135.0,78.0
2006-03-01,6649.0,7960.0,92.803780,87.828340,74.516499,138.854375,0.000000,112.498075,117.876876,103.063764,...,772.41,179.52,542555.76,79.0,0.7,4.50,91.52,90.81,111.0,77.0
2006-04-01,6880.0,8028.0,75.452369,67.662286,66.215260,123.385807,0.000000,115.595159,121.878356,104.906097,...,652.20,178.22,557501.92,79.9,0.1,4.75,93.13,92.83,175.0,161.0
2006-05-01,6782.0,8069.0,77.366260,68.992476,35.785484,66.682829,0.000000,113.408937,119.725058,104.687875,...,765.10,217.33,647719.85,80.5,0.6,4.75,91.45,91.54,468.0,641.0
2006-06-01,6621.0,8160.0,86.068584,76.384771,38.081443,70.961130,0.000000,115.684212,124.167243,105.706143,...,743.65,171.54,496052.44,80.5,0.4,5.00,91.77,91.76,292.0,519.0
2006-07-01,6740.0,8353.0,85.249850,75.425317,35.308415,65.793856,0.000000,110.082402,117.363818,110.159439,...,959.60,272.17,831027.49,80.7,1.1,5.00,92.53,92.87,728.0,705.0
2006-08-01,6632.0,8612.0,97.305677,89.311110,40.943298,76.293923,0.000000,105.714531,111.622494,112.992669,...,874.90,170.59,461241.42,80.7,2.3,5.00,93.18,93.50,2357.0,1272.0

## Observe Data

In [109]:
df.head()

,nonglu_price,hommali_price,agri_prod_index,crops_prod_index,paddy_prod_index,nonglu_prod_index,hommali_prod_index,agri_price_index,crops_price_index,paddy_price_index,...,agri_export_value,rice_export_value,ricet_export_amoun,cpi,cpi_rice,pol_rate,neer,reer,sirikit_water,bhumibol_water
date,,,,,,,,,,,,,,,,,,,,,
2005-01-01,6423.0,7604.0,115.097008,124.176382,43.455904,72.441718,8.054434,93.173402,93.569101,97.732988,...,607.44,218.28,734528.70,73.6,-0.3,2.00,89.81,85.66,178.0,45.0
2005-02-01,6568.0,7736.0,111.378971,119.210610,40.277637,75.053527,0.000000,95.454421,94.170403,99.382526,...,559.87,183.68,615574.29,74.0,-0.2,2.00,90.58,86.68,131.0,32.0
2005-03-01,6568.0,7816.0,79.885973,73.216190,72.039414,134.238562,0.000000,97.325242,95.450507,99.992138,...,613.75,190.62,609936.02,74.8,0.2,2.25,90.02,86.70,115.0,46.0
2005-04-01,6556.0,7913.0,73.401982,66.812827,45.273448,84.362743,0.000000,95.957069,93.257760,100.482538,...,518.98,163.53,532848.53,75.3,0.2,2.25,88.61,85.58,115.0,77.0
2005-05-01,6471.0,7769.0,73.772617,65.417215,30.715298,57.235023,0.000000,96.368373,94.583290,99.124867,...,622.21,231.30,1092091.31,75.8,-0.2,2.25,88.07,85.40,110.0,69.0

In [111]:
df.isnull().sum()

nonglu_price           0
hommali_price          0
agri_prod_index        0
crops_prod_index       0
paddy_prod_index       0
nonglu_prod_index      0
hommali_prod_index     0
agri_price_index       0
crops_price_index      0
paddy_price_index      0
nonglu_price_index     0
hommali_price_index    0
agri_export_value      0
rice_export_value      0
ricet_export_amoun     0
cpi                    0
cpi_rice               0
pol_rate               0
neer                   0
reer                   0
sirikit_water          0
bhumibol_water         0
dtype: int64

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 238 entries, 2005-01-01 to 2024-10-01
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   nonglu_price         238 non-null    float64
 1   hommali_price        238 non-null    float64
 2   agri_prod_index      238 non-null    float64
 3   crops_prod_index     238 non-null    float64
 4   paddy_prod_index     238 non-null    float64
 5   nonglu_prod_index    238 non-null    float64
 6   hommali_prod_index   238 non-null    float64
 7   agri_price_index     238 non-null    float64
 8   crops_price_index    238 non-null    float64
 9   paddy_price_index    238 non-null    float64
 10  nonglu_price_index   238 non-null    float64
 11  hommali_price_index  238 non-null    float64
 12  agri_export_value    238 non-null    float64
 13  rice_export_value    238 non-null    float64
 14  ricet_export_amoun   238 non-null    float64
 15  cpi                  238 non-null    float64
 16  cpi_rice             238 non-null    float64
 17  pol_rate             238 non-null    float64
 18  neer                 238 non-null    float64
 19  reer                 238 non-null    float64
 20  sirikit_water        238 non-null    float64
 21  bhumibol_water       238 non-null    float64
dtypes: float64(22)
memory usage: 42.8 KB

In [115]:
df.describe()

,nonglu_price,hommali_price,agri_prod_index,crops_prod_index,paddy_prod_index,nonglu_prod_index,hommali_prod_index,agri_price_index,crops_price_index,paddy_price_index,...,agri_export_value,rice_export_value,ricet_export_amoun,cpi,cpi_rice,pol_rate,neer,reer,sirikit_water,bhumibol_water
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,...,238.000000,238.000000,2.380000e+02,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,8541.484782,12610.708452,128.009234,127.188447,108.539422,112.424838,112.172636,137.883202,144.583994,145.633820,...,1331.646387,385.276639,7.323296e+05,94.558992,0.292143,2.105042,107.230126,101.648277,485.705882,483.315126
std,1463.186226,2545.957675,49.831531,66.039026,159.428742,67.630180,325.933594,19.372315,23.024804,22.352650,...,383.786800,123.063346,2.150787e+05,8.862397,1.719313,1.112120,10.369314,6.280744,569.994261,651.562223
min,6339.000000,7393.000000,69.669986,55.093985,1.761403,3.282205,0.000000,93.173402,93.257760,97.732988,...,518.980000,150.370000,3.192799e+05,73.600000,-2.700000,0.500000,85.840000,84.410000,40.000000,0.000000
25%,7610.666886,10823.750000,98.847298,89.322560,36.373886,65.413179,0.000000,126.358661,129.655856,130.711840,...,1129.580000,308.497500,5.837245e+05,87.710000,-0.177500,1.500000,99.117500,98.662500,124.000000,43.500000
50%,8149.924898,13299.120918,113.643156,106.498353,59.365707,98.412979,0.000000,138.790486,141.548275,147.122687,...,1338.295000,377.245000,7.135931e+05,97.450000,0.100000,1.750000,106.015000,101.860000,209.500000,202.000000
75%,9617.661815,14625.000000,135.781110,133.165452,91.253587,153.272408,8.071778,152.273774,160.583998,162.447486,...,1530.720000,451.917500,8.662758e+05,99.630000,0.457500,2.750000,116.367500,105.330000,659.250000,662.250000
max,13179.000000,17292.000000,329.360966,391.615710,746.069316,363.983809,1562.742921,194.036789,222.808044,196.191475,...,2694.600000,805.010000,1.493823e+06,108.840000,17.400000,5.000000,126.920000,115.840000,3096.000000,2877.000000

In [117]:
df.columns

Index(['nonglu_price', 'hommali_price', 'agri_prod_index', 'crops_prod_index',
       'paddy_prod_index', 'nonglu_prod_index', 'hommali_prod_index',
       'agri_price_index', 'crops_price_index', 'paddy_price_index',
       'nonglu_price_index', 'hommali_price_index', 'agri_export_value',
       'rice_export_value', 'ricet_export_amoun', 'cpi', 'cpi_rice',
       'pol_rate', 'neer', 'reer', 'sirikit_water', 'bhumibol_water'],
      dtype='object')

## Explanatory Descriptive analysis

In [ ]:
# Create time series plot
plt.figure(figsize=(12, 6))
plt.plot(air)

plt.title('Monthly Airline Passengers Over Time')
plt.ylabel('Number of Passengers')
plt.grid(True)